/* global */

    .title-row{ padding: 30px 0 0; text-align: center;
        h2{ padding-bottom: 20px; font-size: 35px; color: rgb(43, 51, 60); font-weight: bold; text-transform: uppercase; line-height: 1.2;}
        p{ padding-bottom: 20px; font-size: 17px; color: rgb(43, 51, 60); font-weight: bold; line-height: 1.2;}
    }

/* global */

/* footer */
    .footer{ background-position: center center; background-size: cover;
        .copir-line{background-color:rgba(26, 28, 30, 0.8); padding: 25px 0; 
            p, a{font-size: 13px; letter-spacing: 0.02em; color: rgb(250, 249, 241); line-height: 1.4;  font-weight: 600;}
            a{text-decoration: underline; transition: all 0.3s;
                &:hover{color: #ff8400;}
            }
        }
    }
/* footer */

/* logo-line */
    .logo-line{ padding: 50px 0 35px;
        .sider{display: flex; align-items: center; justify-content: space-between;}
        .qwestion{ max-width: 170px; width: 100%;
            a{display: flex; width: 100%; align-items: center; justify-content: center; background-color: #ff8400; padding: 12px; text-decoration: none; font-size: 12px; color: #e3e3e3; font-weight: bold; transition: all 0.3s;
                img{margin-right: 12px;}
                &:hover{ background-color: #0090ff;}
            }
        }
        .timing{ max-width: 150px; width: 100%;
            p{ position: relative; font-size: 13px;  color: rgb(26, 28, 30); padding: 6px 0 6px 28px; font-weight: 600;
                img{position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
            }
        }
        .logo{ max-width: 265px; width: 100%; display: flex; align-items: center; justify-content: flex-start; text-decoration: none;
            .con{width: 50px; margin-right: 10px;}
            .texter{
                .big{font-size: 17px; color: rgb(43, 51, 60);  font-weight: bold;  text-transform: uppercase;  line-height: 1.4; }
                .small{font-size: 13px; color: rgb(43, 51, 60);  line-height: 1.4;}
            }
        }
        nav{
            ul{ list-style: none; padding: 0; margin: 0; display: flex; align-items: center; justify-content: flex-start; }
            a{ display: block; padding: 12px 8px; background-color: transparent; font-size: 12px; color: rgb(44, 47, 50); text-transform: uppercase; line-height: 1.2; text-decoration: none; transition: all 0.3s; font-weight: 600;
                &:hover{background-color: #0090ff; color: #fff;}
            }
        }
    }
/* logo-line */

/* contact */

    .contact-wrap{
        .map-part{ position: relative; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; width: 100%; overflow: hidden;
            #map{ height: 365px; width: 150%; background-color: #ff8400;}
            .hovered-content{position: absolute; width: 400px; top: 0; bottom: 0; background-color: #e3e3e3; left: calc(50% - 1170px/2); border-left: 1px solid #b7b7b7; border-right: 1px solid #b7b7b7; padding: 30px; display: flex; align-items: center; }
            .row{display: flex; align-items: center; justify-content: space-between; padding: 11px 0;  
                .text{width: calc(100% - 38px);
                    .big{ font-size: 17px;color: rgb(43, 51, 60); font-weight: bold; line-height: 1.4; padding-bottom: 0px; }
                    .small{ font-size: 13px;color: rgb(43, 51, 60); font-weight: 600; line-height: 1.4; }
                }
            }
        }
    }

/* contact */
  

  