@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1300px){

    /* hot-wrap */
        .hot-wrap .next-arr{right: 10px;}
        .hot-wrap .prew-arr{left: 10px;}
        .hot-wrap .slick-slider{padding: 0 40px;}
    /* hot-wrap */

}
@media screen and (max-width: 1200px){

    /* header */
        header .form-search{ width: 280px;}
    /* header */

    /* first-wrap */
        .first-wrap .contein-first{display: block;}
        .first-wrap .text-part{width: 100%; max-width: none; text-align: center;}
        .first-wrap .text-part .after-button{justify-content: center; padding-bottom: 60px;}
        .first-wrap .items{justify-content: center;}

        .first-wrap{margin-bottom: -380px;}
    /* first-wrap */

    /* contact */
        .contact-wrap .map-part .hovered-content{left: 0;}
    /* contact */

    /* catalog-list-wrap */

        .catalog-list-wrap .content-list{ justify-content: space-around;}

    /* catalog-list-wrap */

    /* cart */

        .table-items td{ padding: 10px; display: flex; align-items: center; justify-content: space-between;
            .name{display: block; max-width: 120px; font-size: 12px; line-height: 1.4;}
            .tovar{max-width: calc(100% - 120px); font-size: 13px; }
        }
        .table-items td:nth-child(3){border-top: 0;}
        .table-items td:nth-child(4){border-top: 0;}
        .table-items td:nth-child(5){border-top: 0;}
        .table-items td:nth-child(6){ justify-content: center; border-top: 0;}
        .table-items td:nth-child(7){ border-top: 0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;
            .name{font-size: 14px; font-weight: 700;}
        }

        .table-items tbody{display: flex; align-items: center; flex-wrap: wrap; justify-content: space-around;}
        .table-items thead{display: none;}
        .table-items table{display: block;}
        .table-items tr{display: block; max-width: 380px; width: 100%; position: relative; border-radius: 4px; border: 1px solid #e4e4e4; overflow: hidden; margin-bottom: 15px; }
        .table-items td:first-child{ padding: 0; border: 0;}
        .table-items td:nth-child(2) .con{margin: 0 auto;}

        .table-items .deleter{position: absolute; top: 4px; right: 4px;}
        .summ-row-wrap{justify-content: center;}

    /* cart */
}
@media screen and (max-width: 1100px){

    /* footer */
        footer .logo-line{padding: 30px 0;}
        footer .logo-line .sider{display: block;
            .logo{ margin: 0 auto 15px;}
            nav{ margin: 0 auto 15px;}
        }
        footer  .logo-line nav ul{justify-content: center; flex-wrap: wrap; }
        footer  .logo-line .qwestion{margin: 0 auto 15px;}
        footer .logo-line .timing{margin: 0 auto;}
    /* footer */

    /* single */

        .siders-towar{display: block;}
        .siders-towar .side-images{margin: 0 auto; padding: 0 0 20px;}
        .siders-towar .side-info{width: 100%; margin: 0 auto;}

    /* single */

}
@media screen and (max-width: 920px){
    #hidden-menu{display: block;}
    .covert-for-two{background-image: none !important; }

    .logo-line.inside{display: none;}

    .title-row h2{font-size: 28px;}
    .title-row p{font-size: 14px; padding-bottom: 10px;}
    .partners-wrap { padding-bottom: 0px; }

    /* header */

        header { position: relative; z-index: 10;
            .mbox{padding: 0;}
            .form-search{ position: absolute;  top: 100%; right: -100%; transition: all 0.5s;
                &.open{ right: 0;}
            }
            .corzine{display: none;}
            .hidden-search, .hidden-corzine, .hidden-menu{ display: flex; align-items: center; justify-content: center; width: 56px; height: 56px; border-left: 1px solid #494c4e; cursor: pointer;
                svg{width: 22px; height: 22px; fill:  #fff;}
            }
            .hidden-corzine { 
                svg{fill: #ff8400; width: 26px; height: 26px; }
            }
            .hidden-menu{border-right: 1px solid #494c4e;
                svg{fill: #0090ff;}
            }
            .infopages{display: none;}
            .hidden-logo{display:  flex; align-items: center; justify-content: flex-start; max-width: 50%; height: 56px; padding: 0 10px; text-decoration: none;
                img{ max-height: 38px;}
                .texter{margin-left: 10px; }
                .big{font-size: 14px; color: #fff;; font-weight: bold;  text-transform: uppercase;  line-height: 1.4; }
                .small{font-size: 11px; color: #fff; line-height: 1.4;}
            }
        }
    
    /* header */

    /* first-wrap */
        .first-wrap .logo-line{display: none;}

        .first-wrap .text-part{padding-top: 30px;}
        .first-wrap .text-part h1 { font-size: 36px;}
        .first-wrap .text-part h2 { font-size: 15px; padding-top: 10px; }
        .first-wrap .text-part .after-button{padding: 15px 0 20px;}
    /* first-wrap */

    /* hot-wrap  */

        .hot-wrap{background-image: none !important; }
        .hot-wrap .title-part{text-align: center;
            h2{display: block; padding-bottom: 15px; font-size: 28px;}
        }

    /* hot-wrap  */

    /* ucenka-wrap */
        .ucenka-wrap{background-image: none !important; }
        .ucenka-wrap, .hot-wrap{padding: 15px 0;}
        .ucenka-wrap .contein-category a{width: 50%;}
        
    /* ucenka-wrap */

    /* form-block */
        .form-block .bottom-row{display: block;}
        .form-block .bottom-row .side-checker{margin: 0 auto; padding-bottom: 15px;}
        .form-block .bottom-row .submiter{margin: 0 auto;}
    /* form-block */

    /* contact-wrap */
        .contact-wrap .map-part .hovered-content { width: 300px; }
        .contact-wrap{background-image: none !important ;} 
        .contact-wrap { padding-top: 0px; margin-top: 0px; }

    /* contact-wrap */

    /* footer */
        .footer .copir-line p, .footer .copir-line a{text-align: center;}
    /* footer */

    /* catalog-list-wrap */
               
        .catalog-list-wrap .hidden-filter{display: flex; align-items: center; justify-content: center; width: 46px; height: 46px;  cursor: pointer; border: 2px solid #494c4e;
            svg{  width: 22px; height: 22px;}
        }
        .catalog-list-wrap .display-type{ width: 120px; 
            a{width: 46px; height: 46px;display: flex; align-items: center; justify-content: center; border: 2px solid #b3bac6; transition: all 0.3s;
                &.active{border: 2px solid #494c4e;}
                svg{  width: 22px; height: 22px;}
                &:hover{border-color: #494c4e; }
            }
        }

        .catalog-list-wrap .veiw-first, .catalog-list-wrap .display-count{display: none;}
        .content-page { overflow: hidden;
            .siders{ transform: translateX(-290px); width: calc(100% + 290px); transition: all 0.3s;
                &.translated{ transform: translateX(0px);  }
            }
        }

    /* catalog-list-wrap */

    /* cart */

        .content-cart .topper-steps{ padding: 15px; }
        .list-steps .item:after{display: none;}
        .list-steps .item{width: calc(100%/3); padding: 10px; justify-content: center;}
        .list-steps .texter{margin-left: 10px; font-size: 12px;}
        .list-steps .counter{width: 28px; height: 28px; font-size: 14px;}

        .step2{padding-top: 0px;
            form{display: block;}
            .side{ width: 100%;padding: 0; max-width: 480px; margin: 0 auto;}
        }
        .step2 .item .content-part{padding: 30px 15px;}
    /* cart */

    /* deliv */

        .deliw-wrap .deliv1, .deliw-wrap .deliv2{display: none;}
        .deliw-wrap .texter{padding-bottom: 30px;}

    /* deliv */

}
@media screen and (max-width: 767px){

    /* first */

        .first-wrap .items{ display: block;}

    /* first */

    .breadcrumbs{display: none;}

    /* title-wrap */
        .title-wrap{padding-top: 20px; text-align: center;
            h1 { font-size: 24px; }
        }

        .title-wrap.has-arrows{display: block;
            h1{width: 100%;}
            .arrows-block{margin: 0 auto; padding-top: 20px; width: 80px;
                a{width: 26px; height: 26px;}
            }
        }
    /* title-wrap */

    /* cart */

        .table-items{padding-bottom: 20px;}
        .buttons-row{display: block; padding-bottom: 20px;
            a{margin: 0 auto 15px; padding: 14px; font-size: 14px;}
        }

        .summ-row-wrap .itog{max-width: 380px;}
        .summ-row-wrap{padding-bottom: 20px;}
        .summ-row-wrap .summ {  font-size: 24px; }

    /* cart */

    /* single */

        .single-wrap .tabs{padding-bottom: 30px;}
        .single-wrap .tabs .head-tabs{ margin: 0 auto; justify-content: center;}
        .single-wrap .tabs .head-tabs li:first-child, .single-wrap .tabs .head-tabs li{padding: 15px 10px;}
        .single-wrap .tabs .content-texter h2{font-size: 20px;}
        .single-wrap .tabs .content-texter p { font-size: 14px; }


        .siders-towar .side-info{display: flex; flex-wrap: wrap; width: 100%;}
        .side-info .functional-row{width: 100%; order: 2;}
        .side-info .descript-row{ width: 100%; order: 1; display: block;}

        .side-info .descript-row .character table td{border: 1px solid #494c4e;}
        .side-info .descript-row .character table td:nth-child(1):before{display: none;}
        .side-info .descript-row .character table td:nth-child(1){padding: 10px 5px;}
        .side-info .descript-row .character table td .name{background-color: transparent; display: block;}
        .side-info .descript-row .character table td, .side-info .descript-row .character table td:nth-child(2){font-size: 12px;}

        .side-info .descript-row .bye-block{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; width: 100%; max-width: none; padding-top: 15px;}

        .side-info .descript-row .bye-block .price{padding: 10px 0; font-size: 24px;}
        .side-info .descript-row .bye-block .to-corzine{width: 100%; padding-top: 15px;}
        .side-info .descript-row .bye-block .last-row{width: 100%;}
        .side-info .descript-row .character .title { font-size: 24px; text-align: center;}

        .side-info .functional-row .left-side{display: block;}
        .side-info .functional-row .to-compare, .side-info .functional-row .share{margin-left: 0; margin-top: 15px;}

        .siders-towar .side-images{display: flex; flex-wrap: wrap;}
        .side-images .left-slider{width: 100%; max-width: none; order: 2;}
        .side-images .slider-center{width: 100%; order: 1;}
        .side-images .left-slider .item{padding: 5px;}
        .siders-towar .side-images{max-width: 360px;}
        .side-images .left-slider .item .con{margin: 0 auto;}

    /* single */

}
@media screen and (max-width: 600px){

    .title-row h2{font-size: 24px;}

    header .hidden-logo .texter{display: none;}

    /* cart */

        .content-cart .topper-steps{padding: 20px 15px;}

        .list-steps .item{display: none;
            &.active{display: flex; width: 100%;}
        }

        .step3 .texter p{ padding: 10px 0 0;}

    /* cart */


    /* first-wrap */

        .first-wrap .text-part h1 { font-size: 28px;  }
        .first-wrap .text-part h1 span { padding: 0 10px; }
        .first-wrap .text-part h2 { font-size: 14px; }
        .first-wrap .text-part .butt{padding: 14px; }

    /* first-wrap */

    /* hot-wrap */

        .hot-wrap .title-part h2{font-size: 24px;}

        .hot-wrap .next-arr{right: -10px;}
        .hot-wrap .prew-arr{left: -10px;}
        .hot-wrap .slick-slider{padding: 0;}

    /* hot-wrap */

    /* ucenka-wrap */
        .ucenka-wrap .contein-category a { width: 100%;  height: 180px;
            .name{ max-width: 90%; padding: 14px; font-size: 16px;}
        }
    /* ucenka-wrap */

    /* form */
        .form-block .bottom-row .submiter button{padding: 14px;}
        .form-block{padding: 15px 0 30px; }
        .form-block .top-row{padding:0 0  15px 0;}
    /* form */

    /* partners-wrap */
        .partners-wrap .after-text{padding: 30px 0; }
        .partners-wrap .after-text p { font-size: 20px;}
    /* partners-wrap */


    /* contact-wrap */
        .contact-wrap .map-part .hovered-content{width: 100%; position: static; padding: 15px;
            .texter{margin: 0 auto;}
        }
        .contact-wrap .map-part #map{width: 100%;}
    /* contact-wrap */

}
@media screen and (max-width: 479px){

    /* filter-wrap */
        .filter-wrap{width: 230px;}
        .content-page .siders{    width: calc(100% + 240px); transform: translateX(-240px);}
        .catalog-list-wrap{width: calc(100% - 240px);     }
    /* filter-wrap */

    /* single */

        .side-images .left-slider .item .con{width: 86px; height: 86px;}

    /* single */

}
@media screen and (max-width: 320px){

}