<div class="deliw-wrap">
    <img src="images/deliv1.png" class="deliv1" alt="">
    <img src="images/deliv2.png" class="deliv2" alt="">
    <div class="mbox">
        <div class="texter">
            <h2>Нужно вернуть товар? Это просто:</h2>
            <p>Получили товар, и поняли, что он не подходит?  Не переживайте!  </p>
            <p>Всё просто: верните товар в его оригинальном состоянии* в течение 60 дней. </p>
            <p>
                <a href="#">Подробнее </a>
            </p>
            <p><small>* Оригинальное состояние: упаковка должна быть не вскрыта, товар не должен был быть в употреблении, должен быть сохранен его <br /> товарный вид и потребительские свойства (в том числе остаточный срок годности).</small></p>
            <h2>Хотите сделать обмен? Это легко:</h2>
            <p>Получили товар, и поняли, что он не устраивает?</p>
            <p>Всё просто: обменяйте его в течение 60 дней на тот, который будет радовать больше.</p>
            <p>Верните товар в полном комплекте. <br /> Мы начислим деньги, а вы выберете то, что вам понравится на замену. </p>
            <p>
                <a href="#">Подробнее </a>
            </p>
            <h2>Хотите сделать обмен? Это легко:</h2>
            <p>Просто верните покупку или обменяйте товар.</p>
            <p>
                <a href="#">Подробнее </a>
            </p>
            <p>Начали пользоваться товаром, но он вышел из строя? Мы починим его или оформим возврат.</p>
            <p>
                <a href="#">Подробнее о ремонте</a> , <a href="#"> возврате </a> или  <a href="#">обмене</a>.
            </p>
        </div>
    </div>
</div>