<!-- FOOTER -->
<footer class="footer" style="background-image: url(images/footer-bg.jpg);">
    <div class="logo-line">
        <div class="mbox">
            <div class="sider">
                <a href="/" class="logo">
                    <div class="con">
                        <img src="images/logo1.png" alt="">
                    </div>
                    <div class="texter">
                        <div class="big">Магазин название</div>
                        <div class="small">Бытовая техника для дома</div>
                    </div>
                </a>
                <nav>
                    <ul>
                        <li>
                            <a href="#"><span>О КОМПАНИИ </span></a>
                        </li>
                        <li>
                            <a href="#"><span> ОПЛАТА И ДОСТАВКА </span></a>
                        </li>
                        <li>
                            <a href="#"><span>  КОНТАКТЫ </span></a>
                        </li>
                        <li>
                            <a href="#"><span> FAQ </span></a>
                        </li>
                    </ul>
                </nav>
                <div class="qwestion">
                    <a data-fancybox data-src="#call-popup" href="javascript:;" class="qwe">
                        <img src="images/qwe1.png" alt="">
                        <span>Задать вопрос</span>
                    </a>
                </div>
                <div class="timing">
                    <p>
                        <img src="images/tel1.png" alt="">
                        <strong>8 (495)</strong> 369-22-90
                    </p>
                    <p>
                        <img src="images/tel2.png" alt="">
                        <strong>8 (800)</strong> 350-02-79
                    </p>
                    <p>
                        <img src="images/time1.png" alt="">
                        c <strong>9:00</strong> до <strong> 23:00 </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="copir-line">
        <div class="mbox">
            <p> 
                Все права защищены (с) &nbsp&nbsp/&nbsp&nbsp <a href="#">Политика конфиденциальности</a>
            </p>
        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="js/plagins/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>

<script type="text/javascript" src="js/plagins/select2.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>


<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/main.js" ></script>
<script type="text/javascript" src="js/develop/custom.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
