<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebArtG</title>
    <link rel="shortcut icon" href="images/favico.png" type="image/png">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- build:css -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="css/znormalize.css">    
    <link rel="stylesheet" href="css/select2.min.css"> 
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <!-- add new file here -->

    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/main_styles.css">
    <link rel="stylesheet" href="css/main_adapt.css">
    <link rel="stylesheet" href="css/Xcustom.css">
    <link rel="stylesheet" href="css/Xcustom_adapt.css">
    <!-- endbuild -->

    <!--[if lt IE 10]>
    <link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" />
    <script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="overflower">
    <div id="hidden-menu">
        <div class="contein">
            <div class="name">
                <span> Меню </span>
            </div>
            <ul>
                <li>
                    <a href="">КАТАЛОГ</a>
                </li>
                <li>
                    <a href="">О ТЕХНИКЕ</a>
                </li>
                <li>
                    <a href=""> АКЦИИ </a>
                </li>
                <li>
                    <a href=""> Новинки </a>
                </li>
                <li>
                    <a href="">О КОМПАНИИ   </a>
                </li>
                <li>
                    <a href="">ОПЛАТА И ДОСТАВКА </a>
                </li>
                <li>
                    <a href=""> КОНТАКТЫ </a>
                </li>
                <li>
                    <a href="">FAQ </a>
                </li>
            </ul>
            <div class="infopart">
                <div class="timing">
                    <p>
                        <img src="images/tel1.png" alt="">
                        <strong>8 (495)</strong> 369-22-90
                    </p>
                    <p>
                        <img src="images/tel2.png" alt="">
                        <strong>8 (800)</strong> 350-02-79
                    </p>
                    <p>
                        <img src="images/time1.png" alt="">
                        c <strong>9:00</strong> до <strong> 23:00 </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="global-wrapper">
    
