<div class="logo-line inside">
    <div class="mbox">
        <div class="sider">
            <a href="/" class="logo">
                <div class="con">
                    <img src="images/logo1.png" alt="">
                </div>
                <div class="texter">
                    <div class="big">Магазин название</div>
                    <div class="small">Бытовая техника для дома</div>
                </div>
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="#"><span>КАТАЛОг</span></a>
                    </li>
                    <li>
                        <a href="#"><span>  О ТЕХНИКЕ </span></a>
                    </li>
                    <li>
                        <a href="#"><span> АКЦИИ </span></a>
                    </li>
                    <li>
                        <a href="#"><span> Новинки </span></a>
                    </li>
                </ul>
            </nav>
            <!--
            <div class="qwestion">
                <a data-fancybox data-src="#call-popup" href="javascript:;" class="qwe">
                    <img src="images/qwe1.png" alt="">
                    <span>Задать вопрос</span>
                </a>
            </div>
            -->
            <div class="timing">
                <p>
                    <img src="images/tel1.png" alt="">
                    <strong>8 (495)</strong> 369-22-90
                </p>
                <p>
                    <img src="images/tel2.png" alt="">
                    <strong>8 (800)</strong> 350-02-79
                </p>
                <p>
                    <img src="images/time1.png" alt="">
                    c <strong>9:00</strong> до <strong> 23:00 </strong>
                </p>
            </div>
        </div>
    </div>
</div> 