<form action="" class="filter-wrap">
    <div class="filter-list">
        <div class="row">
            <button type="reset">
                <span>Сбросить все фильтры</span>
                <span class="closer"></span>
            </button>
        </div>
        <div class="row">
            <div class="head-row">
                <div class="name">Категории</div>
                <div class="arrow"></div>
            </div>
            <div class="contet-row">
                <div class="inputer">
                    <input type="text" placeholder="Я ищу ...">
                </div>
                <div class="checker">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">Вытяжки</span>
                        </span>
                    </label>
                </div>
                <div class="checker">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">Духовые шкафы</span>
                        </span>
                    </label>
                </div>
                <div class="checker">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">Плиты</span>
                        </span>
                    </label>
                </div>
                <div class="more">
                    <div class="arrow"></div>
                    <div class="flip"> Еще </div>
                </div>
                <div class="less">
                    <div class="arrow"></div>
                    <div class="flip">Меньше</div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="head-row">
                <div class="name">Производители</div>
                <div class="arrow"></div>
            </div>
            <div class="contet-row has-more">
                <div class="checker">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">ЗАО СК Гидросила</span>
                        </span>
                    </label>
                </div>
                <div class="checker">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">Avex</span>
                        </span>
                    </label>
                </div>
                <div class="checker">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">ОАО ВЗТА</span>
                        </span>
                    </label>
                </div>
                <div class="checker hide">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">ЗАО СК Гидросила111</span>
                        </span>
                    </label>
                </div>
                <div class="checker hide">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">Avex111</span>
                        </span>
                    </label>
                </div>
                <div class="checker hide">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">ОАО ВЗТА111</span>
                        </span>
                    </label>
                </div>
                <div class="more">
                    <div class="arrow"></div>
                    <div class="flip"> Еще </div>
                </div>
                <div class="less">
                    <div class="arrow"></div>
                    <div class="flip">Меньше</div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="head-row">
                <div class="name">Цена, грн</div>
                <div class="arrow"></div>
            </div>
            <div class="contet-row">
                <div class="topper-inputs">
                    <div class="text" >от</div>
                    <input type="text" name='price-from' value="1200">
                    <div class="text">до</div>
                    <input type="text" name='price-to' value="5000">
                </div>
                <div class="convert-slider">
                    <div id="bottomer-slider" data-min-price="100" data-max-price="9999" ></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="head-row">
                <div class="name">Мaтериал изготовления панели</div>
                <div class="arrow"></div>
            </div>
            <div class="contet-row">
                <div class="checker">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">нержавеющая сталь	</span>
                        </span>
                    </label>
                </div>
                <div class="checker">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">стеклокерамика</span>
                        </span>
                    </label>
                </div>
                <div class="checker">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">закаленное стекло</span>
                        </span>
                    </label>
                </div>
                <div class="checker">
                    <label>
                        <span class="cont">
                            <input type="checkbox">
                            <span class="beutify"></span>
                            <span class="texter">эмалированная сталь</span>
                        </span>
                    </label>
                </div>
            </div>
            
        </div>
    </div>
</form>