<div class="catalog-list-wrap">
    <div class="navi-row">
        <div class="siders-filter">
            <div class="hidden-filter">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve">
                    <g>
                        <g id="filter">
                            <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"/>
                        </g>
                    </g>
               </svg>               
            </div>
            <div class="veiw-first">
                <div class="head-name">Показать сначала:</div>
                <ul>
                    <li><a href="">По рейтингу</a></li>
                    <li><a href="" class="active">Дешевые</a></li>
                    <li><a href="">Дорогие</a></li>
                </ul>
            </div>
            <div class="displayed">

                <div class="display-count">
                    <div class="head-name">Показать сначала:</div>
                    <select name="count" id="">
                        <option value="12">12</option>
                        <option value="24">24</option>
                        <option value="36">36</option>
                    </select>
                </div>
                <div class="display-type">
                    <a href="#">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">
                            <g>
                                <g>
                                    <path d="m31.9,125.9h73.8v-73.7h-73.8v73.7h-7.10543e-15zm84.1,20.9h-94.6c-5.8,0-10.4-4.7-10.4-10.4v-94.7c0-5.8 4.7-10.4 10.4-10.4h94.6c5.8,0 10.4,4.7 10.4,10.4v94.6c0.1,5.8-4.6,10.5-10.4,10.5z"/>
                                    <path d="m490.6,99.5h-324.5c-5.8,0-10.4-4.7-10.4-10.4 0-5.8 4.7-10.4 10.4-10.4h324.5c5.8,0 10.4,4.7 10.4,10.4 0,5.7-4.7,10.4-10.4,10.4z"/>
                                    <path d="m31.9,292.9h73.8v-73.8h-73.8v73.8h-7.10543e-15zm84.1,20.8h-94.6c-5.8,0-10.4-4.7-10.4-10.4v-94.6c0-5.8 4.7-10.4 10.4-10.4h94.6c5.8,0 10.4,4.7 10.4,10.4v94.6c0.1,5.8-4.6,10.4-10.4,10.4z"/>
                                    <path d="m490.6,266.4h-324.5c-5.8,0-10.4-4.7-10.4-10.4 0-5.8 4.7-10.4 10.4-10.4h324.5c5.8,0 10.4,4.7 10.4,10.4 0,5.8-4.7,10.4-10.4,10.4z"/>
                                    <path d="m31.9,459.8h73.8v-73.8h-73.8v73.8h-7.10543e-15zm84.1,20.9h-94.6c-5.8,0-10.4-4.7-10.4-10.4v-94.6c0-5.8 4.7-10.4 10.4-10.4h94.6c5.8,0 10.4,4.7 10.4,10.4v94.6c0.1,5.7-4.6,10.4-10.4,10.4z"/>
                                    <path d="m490.6,433.4h-324.5c-5.8,0-10.4-4.7-10.4-10.4s4.7-10.4 10.4-10.4h324.5c5.8,0 10.4,4.7 10.4,10.4s-4.7,10.4-10.4,10.4z"/>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="#" class="active">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 174.239 174.239" style="enable-background:new 0 0 174.239 174.239;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M174.239,174.239H96.945V96.945h77.294V174.239z M111.88,159.305h47.425V111.88H111.88V159.305z"/>
                                </g>
                                <g>
                                    <path d="M77.294,174.239H0V96.945h77.294V174.239z M14.935,159.305H62.36V111.88H14.935V159.305z"/>
                                </g>
                                <g>
                                    <path d="M174.239,77.294H96.945V0h77.294V77.294z M111.88,62.36h47.425V14.935H111.88V62.36z"/>
                                </g>
                                <g>
                                    <path d="M77.294,77.294H0V0h77.294V77.294z M14.935,62.36H62.36V14.935H14.935V62.36z"/>
                                </g>
                            </g>
                       </svg>                       
                    </a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="content-list">
        <div class="item item1">
            <div class="convert">
                <a  href="#" class="topper ">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type hit"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="convert">
                <a  href="#" class="topper">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type new"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="convert">
                <a  href="#" class="topper">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type price-of-day"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="convert">
                <a  href="#" class="topper">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="convert">
                <a  href="#" class="topper">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="convert">
                <a  href="#" class="topper">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="convert">
                <a  href="#" class="topper">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="convert">
                <a  href="#" class="topper">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="convert">
                <a  href="#" class="topper">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="convert">
                <a  href="#" class="topper">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="convert">
                <a  href="#" class="topper">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="convert">
                <a  href="#" class="topper">
                    <div class="con">
                        <img src="images/towar1.jpg" alt="">
                    </div>
                    <div class="label-type"></div>
                </a>
                <div class="botter">
                    <a href="#" class="name">
                        Электрическая варочная панель Simfer H30E02M011
                    </a>
                    <div class="pricer">
                        <div class="price">
                            <strong> 16000</strong> 
                            <span>руб.</span>
                        </div>
                        <a href="#" class="add-to">
                            <img src="images/korzin1.png" alt="">
                            <span>в корзину</span>
                        </a>
                    </div>
                    <div class="last-row">
                        <div class="prew-price">18000 руб.</div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="paginator-wrap">
        <div class="mbox">
            <div class="wp-pagenavi">
                <a class="previouspostslink prew" rel="prev" href="#"></a>
                <a class="page" href="#">1</a>
                <a class="page" href="#">2</a>
                <span class="current">3</span>
                <a class="page"  href="#">4</a>
                <span class="tripple-dot"> ... </span>
                <a class="page"  href="#">10</a>
                <a class="nextpostslink next" rel="next" href="#"> </a>
            </div>
        </div>
    </div>
</div>

