<div class="line-wrap">
    <div class="mbox">
        <div class="stack-it">
            <div class="item">
                <div class="con">
                    <img src="images/l1.png" alt="">
                </div>
                <div class="sub-text">
                    <p>Техники доставляем в день заказа. Максимальный срок доставки по Москве - 3 дня.</p>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/l2.png" alt="">
                </div>
                <div class="sub-text">
                    <p>Рублей ежемесячно эконосят наши клиенты, приобретая новую уцененную технику.</p>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/l3.png" alt="">
                </div>
                <div class="sub-text">
                    <p>Гарантируем исправность всех техники, работаем с известными брендами (Beko, Simfer, Schaub, Lorenz, Vestel и др.</p>
                </div>
            </div>
        </div>
    </div>
</div>