<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpitGF1cl79hYoTxxOi6WfBVvIrsMr6Jo"></script>

<script>
    var place = {lat: 55.808511, lng: 37.446168};
    var pointer = "images/pointer-dot.png";
</script>

<div class="contact-wrap">
    <div class="mbox">
        <div class="title-row">
            <h2>Контакты</h2>
            <p>Звоните! Пишите! Приезжайте!</p>
        </div>
    </div>
    <div class="map-part">
        <div id="map"></div>
        <div class="hovered-content">
            <div class="texter">
                <div class="row">
                    <img src="images/phone1.png" alt="">
                    <div class="text">
                        <div class="big">8 (800) 350-02-79</div>
                        <div class="small">(Бесплатный звонок по России)</div>
                    </div>
                </div>
                <div class="row">
                    <img src="images/phone1.png" alt="">
                    <div class="text">
                        <div class="big">8 (800) 350-02-79</div>
                        <div class="small">(Бесплатный звонок по России)</div>
                    </div>
                </div>
                <div class="row">
                    <img src="images/place1.png" alt="">
                    <div class="text">
                        <div class="small"> <strong> Москва, Окружной проезд, дом 15, Корпус 2 </strong></div>
                    </div>
                </div>
                <div class="row">
                    <img src="images/mail1.png" alt="">
                    <div class="text">
                        <div class="small"> <strong> Magazinemail@magazine.com </strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>