<div class="ucenka-wrap">
    <div class="mbox">
        <div class="title-row">
            <h2>Уцененная бытовая техника: выбирайте то, что нужно вам,  не переплачивая ни рубля</h2>
        </div>
        <div class="contein-category">
            <a href="#" class="cat" style="background-image: url(images/c1.jpg)">
                <div class="name">Вытяжки</div>
            </a>
            <a href="#" class="cat" style="background-image: url(images/c2.jpg)">
                <div class="name"> Варочные&nbspпанели </div>
            </a>
            <a href="#" class="cat" style="background-image: url(images/c3.jpg)">
                <div class="name">Духовые&nbspшкафы</div>
            </a>
            <a href="#" class="cat" style="background-image: url(images/c4.jpg)">
                <div class="name">Плиты</div>
            </a>
            <a href="#" class="cat" style="background-image: url(images/c5.jpg)">
                <div class="name">Морозильные  камеры</div>
            </a>
            <a href="#" class="cat" style="background-image: url(images/c6.jpg)">
                <div class="name">Мини&nbspпечи</div>
            </a>
        </div>
    </div>
</div>