<div class="hot-wrap" style="background-image: url(images/bg-2.jpg);">
    <div class="mbox">
        <div class="title-part">
            <h2>Горячие предложения и акции:</h2>
            <select name="" id="towar-filter">
                <option selected value=".item">Все категории товаров</option>
                <option value=".item1">Все категории товаров 2</option>
                <option value=".item2">Все категории товаров 3</option>
                <option value=".item3">Все категории товаров 4</option>
            </select>
        </div>
        <div class="content-part">
            <div class="list-items">
                <div class="item item1">
                    <div class="convert">
                        <a  href="#" class="topper ">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type hit"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type new"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type price-of-day"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item1">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item3">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item3">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item3">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item1">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item1">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item3">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item3">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="prew-price">18000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
</div>