<div class="first-wrap" style="background-image: url(images/first-bg.jpg);">
    <div class="logo-line">
        <div class="mbox">
            <div class="sider">
                <a href="/" class="logo">
                    <div class="con">
                        <img src="images/logo1.png" alt="">
                    </div>
                    <div class="texter">
                        <div class="big">Магазин название</div>
                        <div class="small">Бытовая техника для дома</div>
                    </div>
                </a>
                <nav>
                    <ul>
                        <li>
                            <a href="#"><span>КАТАЛОг</span></a>
                        </li>
                        <li>
                            <a href="#"><span>  О ТЕХНИКЕ </span></a>
                        </li>
                        <li>
                            <a href="#"><span> АКЦИИ </span></a>
                        </li>
                        <li>
                            <a href="#"><span> Новинки </span></a>
                        </li>
                    </ul>
                </nav>
                <!--
                <div class="qwestion">
                    <a data-fancybox data-src="#call-popup" href="javascript:;" class="qwe">
                        <img src="images/qwe1.png" alt="">
                        <span>Задать вопрос</span>
                    </a>
                </div>
                -->
                <div class="timing">
                    <p>
                        <img src="images/tel1.png" alt="">
                        <strong>8 (495)</strong> 369-22-90
                    </p>
                    <p>
                        <img src="images/tel2.png" alt="">
                        <strong>8 (800)</strong> 350-02-79
                    </p>
                    <p>
                        <img src="images/time1.png" alt="">
                        c <strong>9:00</strong> до <strong> 23:00 </strong>
                    </p>
                </div>
            </div>
        </div>
    </div> 
    <div class="mbox"> 
        <div class="contein-first">
            <div class="text-part">
                <h1>Экономьте  <span> 35% </span> на технике для кухни</h1>
                <h2>Покупайте уцененные морозильные камеры, с полноценной гарантией от 1 года</h2>
                <div class="after-button">
                    <a href="#" class="butt">
                        <span>Перейти в каталог</span>
                    </a>
                </div>
            </div>
            <div class="items">
                <div class="item item1">
                    <div class="convert">
                        <a  href="#" class="topper ">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type hit"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="defect"> <strong> Дефект: </strong> Помятая упаковка </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item2">
                    <div class="convert">
                        <a  href="#" class="topper">
                            <div class="con">
                                <img src="images/towar1.jpg" alt="">
                            </div>
                            <div class="label-type new"></div>
                        </a>
                        <div class="botter">
                            <a href="#" class="name">
                                Электрическая варочная панель Simfer H30E02M011
                            </a>
                            <div class="pricer">
                                <div class="price">
                                    <strong> 16000</strong> 
                                    <span>руб.</span>
                                </div>
                                <a href="#" class="add-to">
                                    <img src="images/korzin1.png" alt="">
                                    <span>в корзину</span>
                                </a>
                            </div>
                            <div class="last-row">
                                <div class="defect"> <strong> Дефект: </strong> Помятая упаковка </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>