<div class="partners-wrap">
    <div class="mbox">
        <div class="title-row">
            <h2>Технику Beko, Simfer, Schaub lorenz можно купить у наших партнеров...</h2>
        </div>
        <div class="contein-slider">
            <div class="slider-partner">
                <div class="item">
                    <a href="#" target="_blank" class="con">
                        <img src="images/partner1.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#" target="_blank" class="con">
                        <img src="images/partner2.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#" target="_blank" class="con">
                        <img src="images/partner3.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#" target="_blank" class="con">
                        <img src="images/partner1.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#" target="_blank" class="con">
                        <img src="images/partner2.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#" target="_blank" class="con">
                        <img src="images/partner3.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="after-text">
            <p>... Но только намного дороже :)</p>
        </div>
    </div>
</div>